/* Beyond Z custom CSS for Canvas */
#header {
	background-color: #234;
	background-image: none;
}
#header-logo {
  background-image:url("https://s3.amazonaws.com/canvas-prod-assets/bz-logo-canvas-header-rev-110.png");
}
#content {
	/* need to import webfont if we haven't already! */
	font-family:"Open Sans", sans-serif;
}
.context-course_11 .show-content h2,
.context-course_11 .page-title {
	font-size: 3.5em;
	color: #666;
	line-height: normal;
	font-weight: light;/* fallback */
	font-weight: 100;
}
.context-course_11 .show-content h3 {
	font-size: 2em;
	color: #f26522;
	line-height: normal;
	padding-top: 10px;
	margin-bottom: 0.25em;
}
.context-course_11 .show-content h4 {
	font-size: 1.5em;
	line-height: normal;
}
.context-course_11 .show-content blockquote {
	font-style: italic;
	font-size: 1.25em;
	line-height: normal;
	padding-right: 30%;
	margin: 30px;
}
.context-course_11 .essay_question .mceToolbar,
.context-course_11 #quiz-time-elapsed,
.context-course_11 #topbar #identity .inbox,
.context-course_11 #menu #grades_menu_item,
.quiz-attributes-student,
.context-course_11 div#quiz_show .alert,
.context-course_11 .student-quiz-content .submission-attempt-history {
	display: none;	
}
.context-course_11 .module-sequence-footer 
.context-course_11 .module-sequence-footer-content {
	background: white;
	border: none;	
}
.context-course_11 .module-sequence-footer .pull-right {
	background: #f26522;
	color: white;
}
.context-course_11 .module-sequence-footer-padding {
  padding-top: 10px;
}
.context-course_11 .show-content p,
.context-course_11 .show-content li,
.context-course_11 .show-content td,
.context-course_11 .show-content dt,
.context-course_11 .show-content dd {
	font-size: 1.1em;
	line-height: 1.5em;
}
.context-course_11 h4 {
	margin-top: 1.25em;	
}
/* temporary hack to hide to do list from students at NYC/DC */
.context-course_9 #course_show_secondary .course_options,
.context-course_9 #course_show_secondary .to-do-list {
	display: none;
}
/* 
   can't just hide breadcrumbs; 
   need to keep this a certain height 
   to keep the sidebar from hiding under header 
*/
.context-course_11 #breadcrumbs {
	height: 28px;
	border-bottom: none 0;
}
.context-course_11 #breadcrumbs ul {
	display: none;
}
.context-course_11 .form-actions {
	border: none;
}
