/* Beyond Z custom CSS for Canvas */
/* ============================== */

/* Custom header stuff: */
/* -------------------- */
#header {
	background-color: #234;
	background-image: url("https://s3.amazonaws.com/canvas-stag-assets/braven_bkg_70h_canvas.png");
}
#header-logo {
  background-image:url("https://s3.amazonaws.com/canvas-stag-assets/braven_logo_canvas_red_white.png");
}
#menu>li,
#identity {
    background: rgba(0,0,0,0.2);
}
#identity {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
#identity .emphasize-name {
	color: 	#eddcbe;
}


/* General Typography (=fonts) and layout: */
/* --------------------------------------- */
/* Customize modules list to remove ellipsis */
.ig-title {
	flex: 0 0 65%;
}
#wiki_page_show {
	font-family: Georgia, serif;
}
a {
	color:#2E6D99;
}
a:hover {
	color:#eb3b46;	
}
a:visited {
	color:#235877;
}
.bz-heading,
th,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.menu-item,
nav li,
#identity li,
.module-sequence-footer,
.btn {
	font-family: "TradeGothicNo.20-CondBold", "Oswald", "Open Sans", sans-serif;
	text-transform: uppercase;
	line-height: normal;
	font-weight: bold;/* fallback */
	font-weight: 700;
	font-size: 1.25em;	
}
.quiz-header h1, 
.quiz-header h2 {
	font-weight: 700;	
}
#content h2,
.page-title {
	font-size: 28px;
	color: #666;
	line-height: normal;
	font-weight: bold;/* fallback */
	font-weight: 700;
}
.page-title,
h2.page-title,
.quiz-header h2:first-child {
	font-size: 36px !important;
	padding-bottom: 8px;
	border-bottom: 1px solid #ddd;
}
.context_module h2 .name {
	font-size: 24px;
}
.show-content h3 {
	font-size: 28px;
	color: #eb3b46;
	line-height: normal;
	padding-top: 10px;
	margin-bottom: 0.25em;
}
.show-content h4 {
	font-size: 24px;
	line-height: normal;
	margin-top: 1.25em;	
}
.show-content h5 {
	font-size: 18px;
	font-weight: bold;
	font-weight: 600;	
}
.show-content blockquote{
	font-style: italic;
	font-size: 16px;
	line-height: normal;
	padding-right: 30%;
	margin: 30px;
	border-left: 5px solid #eb3b46; 
}
.show-content p,
.show-content li,
.show-content td,
.show-content dt,
.show-content dd {
	font-size: 14px;
	line-height: 1.5em;
}
ul,
#content table tr,
#content table td {
	vertical-align: top;
}
#content #wiki_page_show ul {
		list-style-position: outside;
}
.btn {
	border: 0;
	/*border-radius: 0;*/
	
}
.btn-primary {
	background: #eb3b46;
}
.btn-primary:hover {
	background: #c8141f; 	
}
.btn-secondary {
	background: #9ad7d7;
}
.btn-secondary:hover {
	background: #ebf7f7;	
}
#main {
	background: #ffffff;
}
#questions,
.quiz-submission,
.discussions #main {
	background: #ebf7f7 !important;
}
.toolbarView#discussion-toolbar .headerBar {
	background:#D7EFEF !important;
}
.table>thead {
	background: #ebf7f7 !important;
}
.question_holder .display_question .file-upload-question-holder .file-upload-box {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
/* Create visual separation in modules view after learning lab: */
.bz-after-ll {
    padding-top: 10px !important;
    background-color: #eb3b46;
}
.bz-after-ll.context_module_item.context_module_item_hover, .bz-after-ll.context_module_item:hover {
	background-color: #C8141F !important;
}
/* Hiding stuff the students don't need to see: */
/* -------------------------------------------- */
.student-logged-in #content .header-bar-outer-container,
.student-logged-in .context-course_15 #content .header-bar-outer-container,
.student-logged-in #quiz-time-elapsed,
.student-logged-in #topbar #identity .inbox,
.student-logged-in #menu #grades_menu_item,
.student-logged-in #quiz-attributes-student,
.student-logged-in #quiz_student_details,
.student-logged-in div #quiz_show .alert,
.student-logged-in .question .mce-container {
	display: none !important;	
}
/* 
   can't just hide breadcrumbs; 
   need to keep this a certain height 
   to keep the sidebar from hiding under header 
*/
.student-logged-in #breadcrumbs {
	height: 28px;
	border-bottom: none 0 !important;
}
.student-logged-in #breadcrumbs ul {
	display: none;
}
.form-actions{
	border: none;
}
/* Fixing the header bar after hiding breadcrumbs and "view all pages" button: 
#wiki_page_show .header-bar,
.context-course_15 #wiki_page_show .header-bar {
	min-height: 0;
	padding: 0;
	border: 0 none;
}
#content .header-bar-outer-container,
#content .header-bar-container,
#content .header-bar,
.context-course_15 #content .header-bar-outer-container,
.context-course_15 #content .header-bar-container,
.context-course_15 #content .header-bar {
	height: auto;
	min-height: inherit;
	box-shadow: none;
}
#content .header-bar-right,
.context-course_15 #content .header-bar-right {
	position: absolute;
	right: 15px;
	top: 15px;
}
/**/
/* styles for alternative navigation */
/* --------------------------------- */
.bz-hide {
	dispaly: none;
}

/* styles that editors can easily apply using a dropdown: */
/* ------------------------------------------------------ */
.spoiler:before,
.bz-spoiler:before {
	content: "Hover to reveal";
	display: inline;
	position: absolute;
	font-family: "TradeGothicNo.20-CondBold", "Oswald", "Open Sans", sans-serif;
	font-size: 1em;
	color: #eb3b46;
	padding-left: 0.33em;
	font-weight: bold;
	text-transform: uppercase;
}
.spoiler,
.bz-spoiler {
	position: relative;
	cursor: pointer;	
	color: #eee;
	background: #eee;
	background: rgba(0,0,0,0.03);
	    -webkit-animation: fadeout 0.5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadeout 0.5s; /* Firefox < 16 */
        -ms-animation: fadeout 0.5s; /* Internet Explorer */
         -o-animation: fadeout 0.5s; /* Opera < 12.1 */
            animation: fadeout 0.5s;
}

@keyframes fadeout {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadeout {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeout {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadeout {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadeout {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.spoiler:hover,
.bz-spoiler:hover {
	background: #fff;
	color: inherit;
    -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 0.5s; /* Firefox < 16 */
        -ms-animation: fadein 0.5s; /* Internet Explorer */
         -o-animation: fadein 0.5s; /* Opera < 12.1 */
            animation: fadein 0.5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.spoiler:hover:before,
.bz-spoiler:hover:before {
	display: none;	
}
.intro,
.bz-intro {
	font-size: 1.2em;
	line-height: 1.4em;
	font-style: italic;
	font-color: #262426;	
}
/* fancy dandy stuff */
/* ----------------- */

/* show a play button over an image that links to a video 
   (requires editor to wrap the link/image in span.video-link) */
.video-link:after,
.bz-video-link:after  {
	display: block;	
	text-align: center;
	width: 60px;
	height: 40px;
	margin: -20px 0 0 -30px;
	font-size: 2em;
	padding-top: 10px;
	position: absolute;
	content: "\25B6";
	color: #fff;
	background: rgba(0,0,0,0.5);
	top: 50%;
	left: 50%;
}
.video-link,
.bz-video-link {
	position: relative;	
}
/* wyld stylez for tables! */
#wiki_page_show table td,
#wiki_page_show table th {
	border: 1px solid #eee;
	padding: 0.3em 0.5em !important;	
}
table.bz-naked,
table.bz-naked th,
table.bz-naked td,
table.bz-naked tr,
table.bz-naked thead,
table.bz-naked tbody {
	border: none !important;
	background: none !important;
	padding: 0 !important;
}
table.bz-eq-col {
	table-layout:fixed;
}
table.bz-eq-col td,
table.bz-eq-col th {
	width: 2%;
}
table.bz-red-heading th,
table.bz-red-heading thead tr,
table.bz-red-heading thead td,
table.bz-red-heading thead th {
	background: #eb3b46;
	color: #fff;		
}
#wiki_page_show thead tr {
	background: #eb3b46;
	color: #fff;
}
.zebra tr:nth-child(even),
.bz-zebra tr:nth-child(even) {
	background: #fbfbfb;
}
/* Colors for general use, e.g. on a div, or table cell/row */
.bz-black {
	background: #262426;
	color: #ffffff;	
}
.bz-red {
	background: #eb3b46;
	color:#fff;
}
.bz-zlt-red,
.bz-red-zlt {
	background: #f8d8da;
	color: 262426;
}
.bz-lt-red,
.bz-red-lt {
	background: #f7b0b4;
	color: 262426;
}
.bz-sky {
	background: #9ad7d7;
	color: #262426;
}
.bz-zlt-sky {
	background: #ebf7f7;
	color: #262426;	
}
.bz-xlt-sky {
	background: #d7efef;
	color: #262426;	
}
.bz-gold {
	background: #d1ab5c;
	color: #262426;
}
bz-zlt-gold {
	background: f6efdf;	
	color: #262426;	
}
bz-lt-gold {
	background: eddcbe;	
	color: #262426;	
}
.bz-silver {
	background: #e6e6e6;
	color: #262426;	
}
.bz-zlt-silver {
	background: #fbfbfb;
	color: #262426;		
}
.bz-zdk-silver {
	background: #393939;
	color: #ffffff;	
}
/* Customizing the Next/Previous footer */
/* ------------------------------------ */
.module-sequence-footer 
.module-sequence-footer-content {
	background: white;
	border: none;	
}
.module-sequence-footer a.pull-right {
	background: #eb3b46;
	color: white;
}
.module-sequence-footer a.pull-right:hover {
	background: #c8141f;
}
.module-sequence-footer a:hover
.module-sequence-footer-padding,
.context-course_15 .module-sequence-footer-padding {
  padding-top: 10px;
}

/* temporary hack to hide to do list from students at NYC/DC */
/* --------------------------------------------------------- */
.context-course_9 #course_show_secondary .course_options,
.context-course_9 #course_show_secondary .to-do-list {
	display: none;
}
/* Accessibility */
/* ------------- */
.says,
.screen-reader-text,
.screenreader-only {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
}
/* Text over large "bkg" images */
.bz-ov-bkg {position: relative}
.bz-over-previous {
  position: absolute;
  top: 20%;
  left: 15%;
  color: #fff;
  width: 70%;
}
.bz-over-previous h3 {
  color: #fff;
  text-transform: uppercase;
  font-size: 36px;
}
.bz-over-previous p {
  font-size: 24px;
}
/* To Do, Pros, and Cons lists */
/* ------------------- */
ul.bz-to-do-item > li:before,
ul.pros > li:before, 
ul.cons > li:before,
ul.bz-pros > li:before, 
ul.bz-cons > li:before {
    content: "\2714";
	color: green;
	margin-left: -1.5em;
	margin-right: 0.5em;
}
ul.cons > li:before, 
ul.bz-cons > li:before {
    content: "\2718";
	color: red;
}
ul.bz-to-do-item > li:before {
	content: "\2610";
	color: #999;	
}
ul.cons>li, 
ul.pros>li,
ul.bz-cons>li, 
ul.bz-pros>li,
ul.bz-to-do-item>li {
	margin-bottom: 0.5em;	
}
ul.pros, 
ul.cons,
ul.bz-pros, 
ul.bz-cons,
ul.bz-to-do-item {
	list-style: none;
	list-style-position:outside;
	margin-left: 1.5em;
}

/* Module navigation "title slides" */
/* -------------------------------- */
/*
.module-nav-titles {
	margin: 0;
	list-style: none;
	margin-bottom: 30px;
}
.module-nav-titles li,
.module-nav-titles li h4 {
	margin: 0;
	text-align: center;
}
.show-content .module-nav-titles li h4 {
	font-size: 24px;
}
.module-nav-titles li {
	margin: 1em auto 30px;
	width: 33%;
	padding: 1em;
	position: relative;
	background: #eee;
}
.module-nav-titles li:after {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(0, 0, 0, 0);
	border-top-color: #eee;
	border-width: 30px;
	margin-left: -30px;	
}
.module-nav-titles li:last-child:after {
	border: 0 none;	
}
.module-nav-titles .current,
.module-nav-titles .current h4{
	background: #f39330;
	color: #fff !important;
}
.module-nav-titles .current:after {
	border-top-color: #f39330;
}
*/
/* diagrams etc */
.bz-slices,
.bz-slices tr,
.bz-slices td, 
.bz-slices th {
	padding: 0;	
}

/* Tooltip: */
.bz-tooltip {
	display:none;position:absolute;
	border:1px solid #333;
	background-color:#161616;
	border-radius:5px;
	padding:10px;
	color:#fff;
	font-size:12px;
	margin: 2em;
}
.bz-uses-tooltips {
	position: relative;
	margin-right: auto;	
}
.bz-has-tooltip {
	cursor:pointer;	
}
/* Boxes */
.case-study-box,
.bz-case-study-box,
.bz-example,
.bz-watch-out-box,
.bz-diagram-box,
.bz-helpful-tip-box,
.bz-resource-box,
.bz-practice-box {
	padding: 50px 20px 20px;
	position: relative;
	margin: 1em 0 1em;
	background: #fcfcfc;
	width: 33%;
	float: right; 
}
.bz-diagram-box {
	padding: 20px;
	text-align: center;
}
.case-study-box:before,
.bz-example:before,
.bz-case-study-box:before,
.bz-watch-out-box:before,
.bz-helpful-tip-box:before,
.bz-resource-box:before,
.bz-practice-box:before {
	font-family: "TradeGothicNo.20-CondBold", "Oswald", "Open Sans", sans-serif;
	text-transform: uppercase;
	font-weight: bold; /*fallback*/
	font-weight: 700;
	color: #000;
	background: #e6e6e6;
	content:"Example";
	position: absolute;
	top: 0px;
	left: 0px;
	height: 20px;
	padding: 5px 20px;
}
.case-study-box h4,
.bz-example h4,
.bz-case-study-box h4,
.bz-diagram-box h4,
.bz-watch-out-box h4,
.bz-helpful-tip-box h4,
.bz-resource-box h4,
.bz-practice-box h4 {
	margin-top: 0;
}
.case-study-box,
.bz-case-study-box,
.bz-diagram-box {
	border: #ccc 1px solid;
	background: #fff;
	float: none;
	width: 100%;
}

td .bz-diagram-box,
td .bz-example,
td .bz-case-study-box,
td .bz-watch-out-box,
td .bz-helpful-tip-box,
td .bz-resource-box,
td .bz-practice-box {
	width: inherit;
}
.case-study-box:before,
.bz-case-study-box:before {
	color: #fff;
	background: #eb3b46;
	content:"Case Study";
}
.bz-watch-out-box:before {
	content:"Watch Out!";
	background-color: #eb3b46;
	color: #fff;
}
.bz-helpful-tip-box:before {
	content:"Helpful Tip";
	background-color: #9ad7d7;
}
.bz-resource-box:before {
	content:"Resources";
	background: #d1ab5c;
}
.bz-practice-box:before {
	content:"Quick Practice";
	background: #eb3b46;
}
/* quote source */
.bz-quote-source {
	display: block;
	text-align: center;
	font-style: normal;	
}
.bz-quote-source:before{
	content: "\2014";
	margin-right: 0.25em;
}
/* selective hiding */
.bz-hide-from-all-users {
	display: none;
}
.student-logged-in .bz-hide-from-students {
	display: none;
}
/* pullout */
.pullout,
.bz-pullout {
	display: block;
	margin: 1em 15% 1em;
	padding: 2em;
	font-style: italic;
	font-size: 16px;
	border: 1px solid #ccc;
}
/* Customizing the modules list view */
/* --------------------------------- */
#context_modules {
	font-family: sans-serif;	
}
#context_modules .ig-title,
#context_modules .ig-header-title {
	font-family: "TradeGothicNo.20-CondBold", "Oswald", "Open Sans", sans-serif;
	font-size: 1.2em;
}
.context_module_item .item_name .title {
	font-size: 16px !important;	
}
#context_modules .ig-header-title {
	text-transform: uppercase;
}
#context_modules .ig-header-title .name {
	font-size: 1.4em;
}
.indent_0 {
	text-transform:uppercase;	
}
/* Auto Table of Contents */
/* ---------------------- */
#bz-auto-toc {
    width: 66.667%;
    margin: 0 auto;
}
#bz-auto-toc .ig-row {
    box-shadow:none;
}
#bz-auto-toc ul.context_module_items {
    border: 1px dotted #e6e6e6;
	padding: 12px;
}
#bz-auto-toc * {
	border: none 0;
	background: inherit;
	color: inherit;
}
#bz-auto-toc .bz-after-ll.context_module_item.context_module_item_hover, 
#bz-auto-toc .bz-after-ll.context_module_item:hover {
	background: transparent !important;	
}
.bz-toc-current {
    color: #eb3b46 !important;
}
#bz-auto-toc .ig-row {
    border-left: 12px solid #e6e6e6 !important;
    border-radius: 0 !important;
}
#bz-auto-toc .bz-toc-current-wrapper .ig-row {
    border-left: 12px solid #eb3b46 !important;
}
#bz-auto-toc a {
   text-decoration: none !important;
   /*cursor: text !important;*/
}
#bz-auto-toc .indent_1,
#bz-auto-toc .indent_2,
#bz-auto-toc .indent_3,
#bz-auto-toc .ig-header,
#bz-auto-toc .ig-admin,
#bz-auto-toc .draggable-handle,
#bz-auto-toc i,
#bz-auto-toc .context_module_sub_header,
#bz-auto-toc .requirement-description {
    display:none;
}
#bz-auto-toc li {
    margin: 0;
}
/* Progress bar on Canvas */
/* ---------------------- */
#bz-module-sequence-progress-container {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 16px;
  padding: 0px;
  margin: 0px;
  width: 100%;
  background-color: #9ad7d7;
}
#bz-module-sequence-progress-bar {
  background: #5bbbba;
  color: #262426;
  font-family: "TradeGothicNo.20-CondBold", "Oswald", "Open Sans", sans-serif;
  font-weight: 700;
  height: 100%;
  text-align: right;
  font-size: 13px;
  line-height: 14px;
  vertical-align: top;
  white-space: nowrap;
}
#bz-module-sequence-progress-bar .bz-progress-current-position::after {
  content: ' of ';
}
.bz-progress-item-count {
  padding-right: 5px;	
}
/* Backlog: */
/* -------- */
.bz-component-table{/*e.g. https://portal.beyondz.org/courses/11/pages/what-effective-problem-solving-looks-like?module_item_id=532 */}
  

