/* 
///
///// Canvas Custom CSS
///////////////////////// 
/// The CSS below can be use in branding your Canvas application.
/// You can opt-in to editing these styles by removing the conmment code. 
/// Please use HTTPS for any URL located in the CSS file to avoid viewing 
/// browser security warnings. 
/// Explanations for what each piece does can be found below.
*/

/* 
///
///// Header Bar
///////////////////////// 
/// You can use this to replace the color of the header bar
/// the links to Courses, Grades, & Calendar
*/


/*#header {   
  background-color: #5b6c79;
}
.menu-item .menu-item-title, .menu-item .menu-item-no-drop {
  color: #ffffff;
}*/

/* 
///
///// Logo
///////////////////////// 
/// Replace the image url in "background-image" below with the image path you would like to use for your logo
/// and use "background-size" to correctly fit your logo within the box area 
*/

/*#header-logo, #header.no-user #header-logo {
  background-image: url("header_logo.png?v1");
  background-repeat: no-repeat;   
  background-size: auto 90px;  
  background-position: 50%;
  background-color: #ffffff;  

  width: 175px; 
  height: 70px;  
  top: 0;
  left: 0;  
}*/


/* 
///
///// Help Corner Navigation  
///////////////////////// 
/// Seen in Top Right Corner (ie, Settings Logout Help )
/// Replace the background color below with the color you would like to use
*/

/*#identity {
  background-color: #31383E;
}
#identity a {
  color: #ffffff;
}*/


/* 
/// 
///// Login Box
/////////////////////////
/// These style let you tweak the login box shown when logging into Canvas
*/

/* 
///// This changes the background color
*/


/*#modal-box.login-box { 
  background: #e6e6e6 !important ;
}*/


/* 
///// This will remove the extra Canvas logo 
*/


/*body.modal #modal-box.login-box h1 { 
  background: none;
  height: 235px;
}*/


/* 
///// Resize the login box to fit my image and change the color of 'stay signed in'
*/


/*body.modal #modal-box.login-box { 
  height: 435px;
  width: 610px;
  color: #5b6c79;
}*/

/*#modal-box-inner {
  background: url(https://s3.amazonaws.com/account/myimage.png?v1) no-repeat;
  height: 400px;
  width: 680px;  
  margin-left: -15px;
  margin-top: -15px;  
  color: #000066 !important; 
}*/


/* 
///// Change the color of 'don't know your password' 
*/


/*body.modal #modal-box.login-box a { 
  color: #5b6c79 !important; 
}*/
 

/* 
///// Change the color of the login buttons 
*/


/*body.modal #modal-box .button, body.modal #login-box .button {
  background-color: #0099e0 !important;
  border-color: #0076ad !important;
}*/

  

/*#login_form .btn-primary, #login_form .btn-primary:hover {
  background-color: #0099e0;
  border-color: #0076ad;
}*/