
/* override some bz_newui stuff for inside the editor */
#editor .instant-range-feedback .feedback {
	display: block;
	padding: 0px 0.25em;
	border-bottom: solid 2px #ccc;
}
#editor .instant-range-feedback .feedback::before {
	font-style: italic;
	content: "(For " attr(data-bz-range-flr) "-" attr(data-bz-range-clg) ") ";
}
#editor.show-answers .correct:not(.bz-box) {
	color: #22B573;
}
#editor.show-answers .incorrect:not(.bz-box) {
	color: #EB3B46;
}
#editor.show-answers .maybe:not(.bz-box) {
	color: #B08833;
}
#editor tr.conditional-show {
	display: table-row;
}
#editor .conditional-show {
	display: block;
}

/* canvas automatic grammar check */
#editor g {
  text-decoration: none;
  border-bottom: 1px dotted red;
}
/*
#editor .conditional-show::before {
	font-family: italic;
	content: "(Conditional)";
}
*/

html, body {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}
body > div {
	position: fixed;
	box-sizing: border-box;
	overflow: auto;
	border: inset black 2px;
}

#generic-container {
	height: auto;
	padding: 0.25em;
	border: none;
	position: static;
}

#toolarea {
	left: 0px;
	right: 0px;
	top: 0px;
	height: 6em;
}

#view-source,
#editor {
	left: 0px;
	top: 6em;
	width: 820px;
	bottom: 2em;
	/*
	width: calc(100% - 20em);
	height: 100vh;
	*/
}

#view-source {
	display: none;
	padding: 0px;
	margin: 0px;
}

#view-source textarea {
	margin: 0px;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	resize: none;
}

#tree-position {
	bottom: 0px;
	height: 2em;
	left: 0px;
	right: calc(100% - 820px);
	line-height: 1.5em;
	vertical-align: middle;
	padding: 0em 0.25em;
}

#sidebar {
	right: 0em;
	width: calc(100% - 820px);
	top: 6em;
	bottom: 0em;
	padding: 0.25em;
}

#sidebar > a {
	display: block;
}

#tree-position li {
	display: inline;
}
#tree-position li:first-child::before {
	content: "";
}
#tree-position li::before {
	content: " > ";
}

.hidden-no-changes {
	background-color: #ccc;
	text-align: center;
	font-weight: bold;
}

.no-change {
	background-color: #aaa;
}

.inserted {
	background-color: #88ff88;
}

.removed {
	background-color: #ff8888;
}

.substituted {
	background-color: white;
}

.substituted-from {
	background-color: #ff8888;
}
.substituted-to {
	background-color: #88ff88;
}

.editor-focused {
	border: solid 3px red;
}

.history-view {
	display: none;
}
.show-history .history-view {
	display: block;
}

.three-way-merge {
	display: table;
	table-layout: fixed;
	width: 100%;
}

.three-way-merge > div {
	display: table-row;
}

.three-way-merge > div.ok {
	background-color: #ddd;
}

.three-way-merge > div.changed {
	background-color: white;
}

.three-way-merge > div.problem {
	background-color: yellow;
}

.three-way-merge > div > div {
	display: table-cell;
}

.empty-required-magic-field-submission {
	background-color: yellow;
}

.magic-field-report {
	margin-bottom: 2em;
}

.magic-field-report p {
	margin-top: 0px;
	color: #666;
}

.magic-field-report div {

}






/* FIXME move these to bz_newui.css */

#compare-and-rank {
	display: table;
	table-layout: fixed;
	width: 100%;
}

#compare-and-rank section {
	display: table-row;
}

#compare-and-rank .selection-column {
	display: table-cell;
	text-align: center;
}

#compare-and-rank .small {
	color: #333;
	display: inline-block;
	font-family: "Glyphicons Halflings";
	font-weight: normal;
	line-height: 1;
	font-size: 8em;
	box-sizing: border-box;
	cursor: pointer;
}
#compare-and-rank .small::before {
	content: "\e022";
}

#compare-and-rank .view-button {
	cursor: pointer;
	margin: 0.5em 0 0.8em 0;
	color: white;
	background-color: #5bc0de;
	border: solid 1px #46b8da;
	display: inline-block;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	padding: 6px 12px;
	line-height: 1.4;
	border-radius: 4px;
	box-sizing: border-box;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.resume-left {
	float: left;
	clear: both;
}

.resume-right {
	float: right;
	text-align: right;
}

.resume-right + * {
	clear: both;
	margin-bottom: 1.5em;
	display: block;
}

#resume-comparison-section .html-document,
#resume-comparison-section .partial-html-document {
	font-size: 13px;
}

.context-notes {
	padding: 3px;
	position: relative;
}

.context-notes::before {
      content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4QMXEDoHPEmf2wAAASBJREFUOMulkyFOxGAQhb92qwYMghAEAoLFAOEAFPScYAW/4ADsrkZhSDccADIQblBLYC9AQHEAdgkGsfJ3BAR/SdO0TQPPvvdmJjPzIgJc7jEVXO5XgCFwCGwEegZMgMxUZoUWIKqYM2BAOy5N5bjwRCXzXejaBY+msudy/zvBOTCqEW4Bc+AFWKpw16biIpf7ZeCjxvxsKjuhwS3Qr9FsJsBJw5jbLvejULzfoBkmwH4D+QWchkV/Ar0aTRoD6w0F3k1l0VQWgIcGzVrcsukyl7SJXvk73uKW8bpgEgPZPwqM2x5pHs7XA87CU5VxYypH5Ve+B9KOnZ9MZdflnjiYMZUD4KKD+aowm8pPFiqJXA1xTkOcI2Aa4jw2lWk5zt+5FmkPTn8zDgAAAABJRU5ErkJggg==");
      padding: 1px;
      margin-right: 3px;
}

.context-notes:hover {
	background-color: #eee;
}

.context-notes::after {
	content: attr(data-content);
	position: absolute;
	bottom: 2em;
	left: 0px;
	border: solid 1px #ccc;
	border-radius: 4px;
	padding: 0.5em;
	box-shadow: 0px 0px 2px #999;
	background-color: white;
	width: 0px;

	opacity: 0;
	transition: opacity 0.25s, width 1.5s;
	overflow: hidden;
}

.context-notes:hover::after {
	opacity: 1;
	width: 25em;
	transition: opacity 0.5s;
}

.html-document {
	border: solid 1px #000;
}

.partial-html-document {
	border-left: solid 1px #000;
	border-right: solid 1px #000;
	border-top: dashed 1px #ccc;
	border-bottom: dashed 1px #ccc;
}

